SSO.Web.Logic/Connected Services/WcfAuthService/AuthWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSO.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSO.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26974/AuthWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="RegistrationRequestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceRequestModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationRequestModel" nillable="true" type="tns:RegistrationRequestModel" />
  <xs:complexType name="ServiceRequestModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestDateTime" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="RequestIpAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRequestModel" nillable="true" type="tns:ServiceRequestModel" />
  <xs:complexType name="RegistrationResposeModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResponseModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationResposeModel" nillable="true" type="tns:RegistrationResposeModel" />
  <xs:complexType name="ServiceResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseModel" nillable="true" type="tns:ServiceResponseModel" />
  <xs:complexType name="LoginRequsetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceRequestModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginRequsetModel" nillable="true" type="tns:LoginRequsetModel" />
  <xs:complexType name="LoginResposeModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="FirstActiveTime" type="q2:DateTimeOffset" />
          <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastActiveTime" type="q3:DateTimeOffset" />
          <xs:element minOccurs="0" name="UserLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResposeModel" nillable="true" type="tns:LoginResposeModel" />
</xs:schema>