SSO.Web.Logic/Connected Services/WcfAuthService/AuthWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26974/AuthWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSO.DataModel" />
  <xs:element name="RegisterNewUserContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="request" nillable="true" type="q1:RegistrationRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="RegisterNewUserContractResult" nillable="true" type="q2:RegistrationResposeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="request" nillable="true" type="q3:LoginRequsetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="LoginContractResult" nillable="true" type="q4:LoginResposeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="request" nillable="true" type="q5:LoginRequsetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SSO.DataModel" minOccurs="0" name="LogoutContractResult" nillable="true" type="q6:LoginResposeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>